header {
    background-color: #ffffff;
    height: 66px;
    margin-top: -8px;
    padding: 5px;
    border-bottom: gray;
    position: relative;
}

.navbar-brand {
    margin-top: 0px;
    margin-left: 45px;
    background-color: #4aaaa5;
    color: #ffffff;
    font-family: "Georgia", Times, Times New Roman, serif;
    width: 300px;
    padding: 30px;
    text-align: center;
    font-size: 32px;
    line-height: 0px;
}

ul {
    margin-top: 0px;
    margin-right: 80px;
    padding: 5px;
    float: right;
}

.navbar-nav {
    display: inline;
    float: right;
    color: #cccccc;
    margin-right: 20px;
    margin-top: 20px;
    float: right;
    font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
    border-bottom: gray;
}

.nav-item {
    margin-right: 20px;
}


body {
    background: url("../images/old_map.png") repeat fixed;
}

.container {
    background: url("../images/old_map.png") repeat fixed;
    width: 960px;
}

.boxed {
    border: 1px solid black;
     width: 500px;
    padding: 20px;
    background-color: #ffffff;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 50px;
    float: left;
}
        
.headshot {
    display: inline-block;
    margin-bottom: 2px;
}

h2 {
    color: #4aaaa5;
    font-family: "Georgia", Times, Times New Roman, serif;
    margin-bottom: 20px;
    border-bottom: solid gray 1px;
    font-size: 24px;
}

p {
    font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
}

.boxed-connect {
    border: 1px solid black;
    background-color: #ffffff;
    width: 270px;
    text-align: center;
    padding: 30px 40px;
    float: right;
    margin-right: 30px;
    margin-top: 30px;
}

.footer {
    background-color: #666666;
    background-position: fixed;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: solid;
    border-color: #4aaaa5;
    margin-bottom: 0;
    clear: both;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

form {
    display: block;
    width: 450px;
}


.cybersecurity {
    float: left;
    text-align: center;
    background-color: #4aaaa5;
    color: #ffffff;
    font-family: "Georgia", Times, Times New Roman, serif;
    margin-bottom: 20px;
    border: solid black 1px;
}

.phr {
    float: right;
    text-align: center; 
    background-color: #4aaaa5;
    color: #ffffff;
    font-family: "Georgia", Times, Times New Roman, serif;
    width: 200px;
    margin-bottom: 20px;
    border: solid black 1px;
}

.healthy {
    float: left;
    text-align: center;
    background-color: #4aaaa5;
    color: #ffffff;
    font-family: "Georgia", Times, Times New Roman, serif;
    width: 200px;
    margin-bottom: 20px;
    border: solid black 1px;
}

.steam {
    float: right;
    text-align: center;
    background-color: #4aaaa5;
    color: #ffffff;
    font-family: "Georgia", Times, Times New Roman, serif;
    width: 200px;
    margin-bottom: 20px;
    border: solid black 1px;
}

.video {
    float: left;
    text-align: center;
    background-color: #4aaaa5;
    color: #ffffff;
    font-family: "Georgia", Times, Times New Roman, serif;
    width: 200px;
    margin-bottom: 20px;
    border: solid black 1px;
}

.sustainability {
    float: right;
    text-align: center;
    background-color: #4aaaa5;
    color: #ffffff;
    font-family: "Georgia", Times, Times New Roman, serif;
    width: 200px;
    margin-bottom: 20px;
    border: solid black 1px;
}